header{
    background-color:#B17457;
    text-align:center;
    color: #D8D2C2;
}
html{
    background-color: #D8D2C2;
}
nav{
    line-height: 200%;
    background-color: #FAF7F0;
}
ul.menu li{
    display: inline;
    padding-right: 1cm;
}
aside{
    float: right;
    background-color: #4A4947;
    border-style:solid;
}
footer{
    background-color: #4A4947;
    color: #D8D2C2;
    text-align: center;
}